* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 16px;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
    padding: 0;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
